table {
    width: 100%;
    overflow: scroll;
}
td {
    text-align: center;
    border: 1px solid black;
}
tr {
    text-align: center;
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
}
th {
    text-align: center;
    border: 1px solid black;
}
